.btn{
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 2px solid seagreen;
    border-radius: 5px;
    font-weight: 500;
    background-color: seagreen;
    padding: 5px;
    margin-top: -20px;
}
